<div class="container" id="home-container" >
    <div class="jumbotron text-center text-white">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <% if !user_signed_in? %>
        <%= link_to 'Sign up',new_user_registration_path, class:"btn btn-outline-primary btn-lg m-4" %>
        <%= link_to 'Sign in',new_user_session_path, class:"btn btn-outline-success btn-lg" %>
    <% end %>
    </div>
</div>